
html {
  font-size: $font-size-root;
}

$susy: (
  columns: 12,
  gutters: .2,
  gutter-position: split,
  global-box-sizing: border-box
);
@include border-box-sizing;

a {
  color: $link-color;
  text-decoration: none;

  &:hover {
    color: $hover-color;
    text-decoration: none;
  }
}

h1, h2, p, h3 {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: normal;
}

p, ul, li {
  font-size: $font-size-base;
}

// --------------------------------------------------
// MAIN
// 

body {
  line-height: $line-height;
  font-size: $font-size-base;
  font-family: $font-family-base;
  // background: #f0f3f5 url(../img/pattern-subscribe.png) repeat 0 0; 
  // background: $gray-lightest; 
  @include sticky-footer-wrapper;
  line-height: $line-height;
  color: $p-color;
}
.main {
  @include sticky-footer-content;
}





// --------------------------------------------------
// NAVIGATION 
// 

nav { 
  @include container(%100);
  background: $nav-background;
  text-align: right; 
  font-family: $font-family-navigation;
  @include susy-breakpoint($md) {
    padding-right: 50px;
  }
}

.nav-item { 
  font-size: $font-size-base;
  padding: gutter(12 1) 0;
  padding-bottom: gutter(12 .2);
  &, a {
    color: $nav-color;  
  }
  
  text-transform: lowercase;
  text-transform: capitalize;
  &:hover, a:hover {
    color: $nav-hover-color;
    text-decoration: none;
  }
}

.nav-item {
  text-align: center; 
  display: block;  
  @include susy-breakpoint($md) {
    display: inline-block;
    padding-right: 15px;
    padding-left: 15px;
    float: none;
  }
}

.home {
  float: none;
  text-align: center;
  @include susy-breakpoint($md) {
    margin-left: 30px;
    float: left;
  }
}

// --------------------------------------------------
// BANNER 
// 

.banner {
  // min-height: 25em;
  background-color: $banner-color;
  background: $banner-background;
  box-shadow: inset 0 -1px 0 rgba(0,0,0,0.06);
  text-align: center;
  color: $banner-color;
  margin-bottom: 1.25em;

  // border: 1px dotted green;

  .container {
    width: 100%;
  }

  h1 {
    font-family: $font-family-banner;
    font-size: 2rem;
    padding-top: gutter(12 6);
    @include susy-breakpoint($md) {
      font-size: 4rem;
    }
  }

  h2 {
    font-size: $font-size-base;
    font-weight: normal;
    padding-top: gutter(12 1/3);
    @include susy-breakpoint($md) {
      font-size: $font-size-lg;
      font-weight: normal;
    }
  }

  .img {
    // margin: 0 auto;
    margin-top: gutter(12 6);
    min-height: 11em;
    background: url(../img/animated_face_sm.png) center 0 no-repeat;

    // border: 1px dotted green;
  }
}


// --------------------------------------------------
// FOOTER
//

footer {
  border: 1px dotted green; 
}
