// --------------------------------------------------
// SECTION
//

$context: 60%;

section {
  @include container(60em);
  background-color: white;
  padding-top: 1.70em;
  margin-top: 1.25em;

  .container {
    width: 85%;
    margin: 0 auto;
  }
  @include susy-breakpoint($xl) {
    font-size: $font-size-md;
    .container {
      width: 58em;
      margin: 0 auto;
    }
  }



  .custom-line {
    // @include sexy-line;
    @include custom-hr(5px, 50%){
      background-color: $hr-color;
      border-radius: 30px
    }
    margin-bottom: 3em;
  }

  h1 {
    font-size: $font-size-h1;
    color: $h1-color;
    text-align: center;
    font-family: $font-family-navigation;
    // font-weight: bold;
    padding-bottom: .2em;
  }

  h2 {
    font-size: $font-size-h2;
    color: $h2-color;
    // font-weight: bold;
    font-family: $font-family-navigation;
    margin-top: .8em;
  }

  h3 {
    font-size: $font-size-h3;
    color: $h3-color;
    margin-bottom: .6em;
    // font-weight: bold;
  }

  p { 
    margin-top: 1em;
  }
}

.entry-container {
  @include container(100%);
  margin: 1.5em 0;
  text-align: center;
  h2, p {
    margin-top: 0;
  }
}

.col-left {
  @include susy-breakpoint($md) {
    text-align: right;
    padding-right: gutter(3em);
  }
}
.col-right {
  @include susy-breakpoint($md) {
    text-align: left;
    padding-left: gutter(3em);
    border-left: 5px solid $gray-lighter;
  }
}



// --------------------------------------------------
// ABOUT ME Section
//
.col-left-about {
  @include susy-breakpoint($md) {
    @include col(20%);
  }
  @extend .col-left;
}
.col-right-about {
  @include susy-breakpoint($md) {
    @include col(80%);
  }
  @extend .col-right;
}


// --------------------------------------------------
// EXPERIENCE Section  
// 



.col-left-job {
  @include susy-breakpoint($md) {
    @include col(20%);
  }
  @extend .col-left;
}
.col-right-job {
  @include susy-breakpoint($md) {
    @include col(80%);
  }
  @extend .col-right;
  ul {
    text-align: left;
  }
  
  // border-left: 1px solid;
}

.small-sub-text {
  font-size: $font-size-sm;
  color: $yellow-dark;
  font-weight: normal;
}
.small-subsub-text {
  font-size: $font-size-sm;
  color: $gray-light;
}