@import "normalize";
@import "~susy/sass/susy";
@import "~breakpoint-sass/stylesheets/breakpoint";
@import "variables";

@import "mixins/link";
@import "mixins/utilities";

html {
  font-size: $font-size-root;
}

$susy: (
  columns: 12,
  gutters: .2,
  // gutter-position: split,
  column-width: false,
  global-box-sizing: border-box
);

a {
  color: black;
  text-decoration: none;

  @include hover-focus {
    text-decoration: none;
  }
}

h1, h2 {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: normal;
}

// --------------------------------------------------
// MAIN
// 

body {
  // background: $lavender-light;
  font-family: $font-family-base;
  background: #f0f3f5 url(../img/pattern-subscribe.png) repeat 0 0; 
  @include sticky-footer-wrapper;
  line-height: $line-height;
  color: $p-color;
}
.main {
  @include sticky-footer-content;
}





// --------------------------------------------------
// NAVIGATION 
// 

nav { 
  @include container(%100);
  border-bottom: .5em solid $nav-color;
  background: $main-background;
  text-align: center; 
  font-family: $font-family-navigation;

  // border: 1px dotted green; 
}

.nav-item { 
  display: block;  // for small screens
  padding: gutter(12 .15) 0;
  color: $nav-color;

  &:hover {
    color: white;
    background-color: $nav-color;
    text-decoration: none;
  }
}

@include susy-breakpoint($md) {
  .nav-item {
    display: inline-block;
    width: 150px;
    float: none;
    
    // border: 1px dotted green;
  }
}


// --------------------------------------------------
// BANNER 
// 

.banner {
  // min-height: 25em;
  background-color: $banner-color;
  text-align: center;
  color: white;

  // border: 1px dotted green;

  .container {
    width: 100%;
  }

  h1 {
    font-family: $font-family-banner;
    font-size: 2rem;
    padding-top: gutter(12 1);
  }

  h2 {
    font-size: $font-size-base;
    font-weight: normal;
    padding-top: gutter(12 1/10);
  }

  @include susy-breakpoint($md) {
    h1 {
      font-size: 4rem;
    }

    h2 {
      font-size: $font-size-lg;
      font-weight: normal;
    }
  }

  .img {
    // margin: 0 auto;
    margin-top: gutter(12 1/2);
    min-height: 11em;
    background: url(../img/animated_face_sm.png) center 0 no-repeat;

    // border: 1px dotted green;
  }
}


// --------------------------------------------------
// FOOTER
//

footer {

  border: 1px dotted green; 
}


// --------------------------------------------------
// SECTION
//

section {
  @include container(55em);
  @include box-shadow;
  background-color: white;
  padding-top: 1.75em;
  padding-bottom: 1.75em;
  margin-top: 2.5em;

  .container {
    @include span(10 of 12);
    @include pre(1 of 12);
  }

  .sexy-line {
    @include sexy-line;
  }

  h1 {
    color: $h1-color;
    text-align: center;
    font-family: $font-family-navigation;
  }

  h2 {
    color: $h2-color;
    // font-family: $font-family-secion-h1;
  }
}