
html {
  font-size: $font-size-root;
}


@include border-box-sizing;

 ol,
 ul {
  margin: 0;
  padding-left: 20px;
  // list-style: none;
 }
 li {
  margin-bottom: .3em;
  &:last-child {
    margin-bottom: 0;
  }
 }

a {
  color: $link-color;
  text-decoration: none;
  transition: color 300ms 0s ease;
  // font-weight: 400;

  &:hover {
    color: $hover-color;
    text-decoration: none;
  }
}

h1, h2, p, h3 {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: normal;
}

h1 {

}
h2 {
  font-size: $font-size-h2;
  font-weight: bold;
  margin-bottom: 0.6em;
  color: $h2-color;
}

h3 { 
  font-size: $font-size-h3;
  font-weight: bold;
  margin-bottom: 0.5em;
  color: $h3-color;
}

p, ul, li {
  font-size: $font-size-base;
  font-weight: 300;
}
p {
  color: $p-color;
  margin-bottom: .6em;
  &:last-child {
    margin-bottom: 0;
  }
}

// --------------------------------------------------
// MAIN
// 

body {
  line-height: $line-height;
  font-size: $font-size-base;
  font-family: $font-family-base;
  // background: #f0f3f5 url(../img/pattern-subscribe.png) repeat 0 0; 
  // background: $gray-lightest; 
  @include sticky-footer-wrapper;
  line-height: $line-height;
  color: $p-color;
}
.main {
  @include sticky-footer-content;
}










