
.tags {
  display: inline-block;
  font-size: $content-size - 0.2rem;
  margin-bottom: 2.4em;
  &:last-child{
    margin-bottom: .5em;
  }
}
.tag-item {
  border: 1px solid $gray;
  padding: 0.3em 0.4em;
  border-radius: 20%;
  margin-left: .4em;
}