// --------------------------------------------------
// SECTION
//

.box-shadow {
  box-shadow: rgba(46, 77, 97, 0.2) 0px 1px 3px;
  border-radius: 5px;
}

section {
  @include container(63em);
  // background-color: white;
  // box-shadow: inset 0 -1px 0 rgba(0,0,0,0.06);
  padding-top: 1.70em;
  margin-top: 1.25em;

  .container {
    width: 95%;
    margin: 0 auto;
  }
  @include susy-breakpoint($xl) {
    font-size: $font-size-md;
    .container {
      width: 100%;
      // margin: 0 auto;
      margin-left: -80px;
    }
  }



  .custom-line {
    // @include sexy-line;
    @include custom-hr(1px, 100%){
      background-color: $gray-light;
      // border-radius: 30px
    }
    margin: 3em 0;
  }

  h1 {
    font-size: $font-size-h1;
    color: $h1-color;
    text-align: center;
    font-family: $font-family-secion-h1;
    // font-weight: bold;
    padding-bottom: .2em;
    @include susy-breakpoint($md) {
      text-align: left;
      margin-left: 25%;
    }
  }

  h2 {
    font-size: $font-size-base;
    color: $h2-color;
    // font-weight: bold;
    font-family: $font-family-secion-h2;
    margin-top: .8em;
    margin-bottom: .6em;
    border-bottom: 1px solid $pink;
    @include susy-breakpoint($md) {
      border-bottom: none;
      margin-bottom: 0;
    }
  }

  h3 {
    font-size: $font-size-h3;
    color: $h3-color;
    margin-bottom: .7em;
    // font-weight: bold;
  }

  p { 
    margin-top: 1em;
  }
}

.entry-container {
  // @extend .box-shadow;
  @include container(100%);
  margin: 1.5em 0;
  &:last-child {
    margin-bottom: 0
  }
  text-align: left;
  h2, p {
    margin-top: 0;
  }
}

.col-left {
  @include susy-breakpoint($md) {
    text-align: right;
    padding-right: gutter(3em);
    @include col(25%);
  }
  @include susy-breakpoint($mdlg) {
    @include col(25%);
  }
  // @extend .col-left;
}
.col-right {

  @include susy-breakpoint($md) {
    text-align: left;
    padding-left: gutter(3em);
    border-left: 2px solid $section-mid-border-color;
    @include col(70%);
  }
  @include susy-breakpoint($mdlg) {
    @include col(65%);
  }
  ul {
    text-align: left;
  }
}

.small-right {
  padding-bottom: .5em;
  @include susy-breakpoint($md) {
    @include col(30%);
    &:last-child, &:nth-child(3) {
      border-left: none;
    }
    padding-bottom: 1em;
  }
}



.small-sub-text {
  font-size: $font-size-sm;
  color: $sub-text-color;
  font-weight: normal;
}