// --------------------------------------------------
// BANNER 
// 

.profile {
  background: $blue-black;
  border: none;
  h1 {
    line-height: 1em;
    font-size: 2rem;
  }
  a {
    color: white;
    &:hover {
      color: $hover-color;
      text-decoration: none;
    }
  }
}

.align-center{
  text-align: center;
}

.social-list{
  margin-top: 1em;
  margin-bottom: .5em;
}
.social-item{
  display: inline;
  font-size: 1.5rem;
  padding: 0 .25em 0 .25em;
}
