

#container {
  @include container(90%);
  margin-top:18px;
  @include susy-breakpoint($md) {
    @include container(700px);
  }
  @include susy-breakpoint($lg) {
    @include container(1000px);
  }
}

.row {
  @include container(100%);
  // border: 1px dashed #333;
  display: block;
  margin-bottom: gutter(12 .1);
  &:last-child {
    margin-bottom: 0;
  }
  @include susy-breakpoint($lg) {
    display: flex;
  }
}

.col {
  @extend %border;
  padding: 25px;
  margin-bottom: gutter(12 .1);
  &:last-child {
    margin-right: 0;
    margin-bottom: 0;
  }
  @include susy-breakpoint($lg) {
    margin-bottom: 0;
  }
}

@for $i from 1 through 12 {
  .col-#{$i}{
    @include span(12);
  }  
  @include susy-breakpoint($lg) {
    .col-#{$i}{
      @include span($i);
    }
  }
}

.col-flex {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  @include susy-breakpoint($sm) {
    flex-direction: row;
  }
  * {
    align-self: center;
  }
}

.inline-block {
  display: inline-block;
  margin-left: -4px;
}